.container {
    display: flex;
    flex-direction: row;
  }
  
  .search-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px; /* Adjust the margin as needed */
  }
  
  .job-list-container {
    flex: 1; /* Fill the remaining space */
  }
  
  .search-field {
    margin-bottom: 10px; /* Adjust the margin between search fields */
  }
  
  /* Optionally, style the search fields */
  .search-field input {
    width: 200px; /* Set the width of input fields */
  }
  